*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans';
}

html, body{
    height: 100%;
}

/**Divs Gerais**/

.container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/****/

header{
    background-color: rgb(220,220,220);
    padding: 10px 2% 40px 2%;
}

.logo1{
    float: left;
    width: 150px;
    height: 60px;
    background-image: url(../img/logo1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

.logo2{
    float: right;
    width: 160px;
    height: 70px;
    background-image: url(../img/logo2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}

section.cover-form{
    width: 100%;
}

.bg{
    position: relative;
    background-position: center;
    height: 560px;
    background-size: cover;
    background-image: url(../img/bg-form.jpg);
}

.form-container{
    z-index: 2;
    position: absolute;
    width: 400px;
    height: 105%;
    background-color: white;
    top:-2.5%;
    right: 30px;
    box-shadow: 1px 1px 2px 1px rgb(180,180,180) ;
}

.form-container h2{
    font-weight: normal;
    font-size: 18px;
    padding:25px 15px;
    background-color: rgb(210,210,210);
    color: black;
}

.form-container form{
    margin-top: 20px;
    padding: 15px;
}

.form-container form p{
    font-size: 14px;
    color: #525252;
}

.form-container form input[type=text]{
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
}

.form-wraper:not(:first-child){
    margin-top: 40px;
}


.form-wraper:last-child{
    margin-top: 20px;
}

.form-container form input[type=submit]{
    background-color: #033C50;
    text-transform: uppercase;
    color: white;
    width: 100%;
    font-size: 25px;
    height: 50px;
    cursor: pointer;
    border: 0;
}

section.chamada{
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: center;
   
}

.icone-seta{
    position: absolute;
    left: 50%;
    top: -32px;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 64px;
    height: 64px;
    background-size: 100% 100%;
    background-image: url(../img/arrow.png);
}

section.chamada div.container{
    background-color: #29586d;
    padding: 70px 0 50px 0;
}


section.chamada h2{
    width: 98%;
    max-width: 700px;
    display: inline-block;
    color: white;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
}

section.chamada p{
    width: 98%;
    max-width: 700px;
    display: inline-block;
    color: white;
    margin-top: 10px;
    font-weight: normal;
    font-size: 18px;
}

.flex-mosaico{
    display: flex;
}

.item-1-mosaico{
    background-position: center;
    background-size: cover;
    width: 60%;
    padding-top: 30%;
}

.item-2-mosaico{
    width: 40%;
    padding:60px 40px;
    background-color: #215170;
}

.item-2-mosaico p{
    color: white;
}

footer{
    text-align: center;
    padding: 20px;
}

footer .logo1{
  float: none;
  display: inline-block;
  margin-top: 10px;
}

footer p{
    margin-top: 8px;
}

@media screen and (max-width:960px) {
    .bg{
        text-align: center;
        height: auto;
        padding: 40px 0;
    }
    .form-container{
        height: auto;
        width: 96%;
        max-width: 400px;
        position: static;
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {

    .flex-mosaico{
        display: block;
    }

    .item-1-mosaico{
        padding-top: 80%;
        width: 100%;
    }

    .item-2-mosaico{
        width: 100%;
        text-align: justify;
    }
}

@media screen and (max-width:510px) {
    header{
        text-align: center;
    }

    .logo1,.logo2{
        display: inline-block;
        float: none;
        margin-top: 10px;
    }
}